/* Estilo para el contenedor de contactos */
body {
    font-family: 'Roboto', Arial, sans-serif;
}
.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  /* Estilo para cada cuadro de contacto */
  .contact-box {
    background-color: #cce9fc;
    border: 1px solid #a5e8fb;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
  }
  
  .contact-box h1 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
  }
  
  .contact-box p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .contact-box a {
    color: #0073e6;
    text-decoration: none;
  }
  
  .contact-box a:hover {
    text-decoration: underline;
  }
  
  .contact-box strong {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
  
  /* Efecto hover */
  .contact-box:hover {
    transform: translateY(-5px);
  }
  